env:
  global:
  - VERSION="v$(jq <package.json -r '.version')"
  - GH_BLOB_URL="https://github.com/SimonLammer/anki-persistence/blob/$TRAVIS_COMMIT"
  - GH_SCRIPT_URL="$GH_BLOB_URL/script.js"
language: generic
before_install:
- npm install
install:
- wget https://dl.google.com/closure-compiler/compiler-latest.zip -O closure-compiler.zip
- unzip closure-compiler.zip -d closure-compiler
script:
- printf "// $VERSION - $GH_SCRIPT_URL\n$(cat script.js)" > script.js
- cat script.js
- wc script.js
- 'curl -X POST -s --data-urlencode "input@script.js" https://javascript-minifier.com/raw > minified.js'
- printf "$(head -n 1 script.js)\n$(cat minified.js)" > minified.js
- wc minified.js
- cat minified.js
- npm test
before_deploy:
- git config --local user.name "TravisCI"
- git config --local user.email "travis@travis-ci.org"
- git tag "$VERSION" -a -m "Generated tag by TravisCI build for commit $TRAVIS_COMMIT"
deploy:
  provider: releases
  api_key:
    secure: K+6fD1lRf0gKu2yAmU1jJyMR+OBw9ySuS0e5m6KudKTbmedAAYvLltil9Szap62ozzQvpxGzoA4GWSn6R5At0yMRIajTV2jPs70+3TBwL2crjHq4mPFP1b5u7lLZLZkc1i9gjw7jyqFLZFjavggjnJmiN42fKsuZL7LlGBo8DFeg06zJdgIAijwSCJ9wCm7cIfyfJDUYJK+B39HHPsLml+VwwbLc14Eu1IPpAWDv8qws3R3dABnwIcYOTsjna6eriULacxoZd5s/HBXWqK/K4omZWnxTbixaqEvcOpmEkfJqljXk+75S4kRJoFIsdBA+oWoRNbApUW6bPef0PvhSvJJSFlp6QbS0f99Eo3BwF4ZR0B43M9KBoEh31qqrNgQeHg7cbKQtW4URoSNewySE7hvoH5sgmihDwXafSRc6Wcw2hMD6DD6mhY5ruMbOm03hTLohyB39AaDONik3VF9uv79Cdz25vVmn8Ef6A9LrAk83CqT7Ujs1BBXKajiWgXim3hYsZBcLl7i27L/w1tmDnYIkhT1cjM+bB6Vc5+ltg7YKBeAYuZZDaECSU4dIkHlO4xytIc5/z42SgPftoK+WwXxopXJNvbRSOVRdvO3HMMf+BG9eniSH5LlJkWnXRIyfyfANBiLCoUimDcg4Rc28yVI7Ek8ISeuhC92GYxX5UsU=
  file:
  - minified.js
  - script.js
  skip_cleanup: true
  name: "$VERSION"
  prerelease: $([ $(echo $VERSION | sed -r -e 's/v([0-9]+).*/\1/') == $(git describe --tags --abbrev=0 | sed -r -e 's/v([0-9]+).*/\1/') ] && printf 'true' || printf 'false') # false if major version changed, true otherwise
  draft: false
  on:
    repo: SimonLammer/anki-persistence
    branch: master
    condition: $(git describe --tags --abbrev=0) != $VERSION
cache:
  directories:
  - node_modules
