language: generic
install:
- wget https://dl.google.com/closure-compiler/compiler-latest.zip -O closure-compiler.zip
- unzip closure-compiler.zip -d closure-compiler
script:
- java -jar closure-compiler/closure-compiler-*.jar --js script.js --js_output_file minified.js
#- cp script.js "$TRAVIS_BUILD_DIR/minified.js"
- cat minified.js
before_deploy:
- git config --local user.name "TravisCI"
- git config --local user.email "travis@travis-ci.org"
- git tag "v0.0.$TRAVIS_BUILD_NUMBER" -a -m "Generated tag by TravisCI build for commit $TRAVIS_COMMIT"
deploy:
  provider: releases
  api_key:
    secure: K+6fD1lRf0gKu2yAmU1jJyMR+OBw9ySuS0e5m6KudKTbmedAAYvLltil9Szap62ozzQvpxGzoA4GWSn6R5At0yMRIajTV2jPs70+3TBwL2crjHq4mPFP1b5u7lLZLZkc1i9gjw7jyqFLZFjavggjnJmiN42fKsuZL7LlGBo8DFeg06zJdgIAijwSCJ9wCm7cIfyfJDUYJK+B39HHPsLml+VwwbLc14Eu1IPpAWDv8qws3R3dABnwIcYOTsjna6eriULacxoZd5s/HBXWqK/K4omZWnxTbixaqEvcOpmEkfJqljXk+75S4kRJoFIsdBA+oWoRNbApUW6bPef0PvhSvJJSFlp6QbS0f99Eo3BwF4ZR0B43M9KBoEh31qqrNgQeHg7cbKQtW4URoSNewySE7hvoH5sgmihDwXafSRc6Wcw2hMD6DD6mhY5ruMbOm03hTLohyB39AaDONik3VF9uv79Cdz25vVmn8Ef6A9LrAk83CqT7Ujs1BBXKajiWgXim3hYsZBcLl7i27L/w1tmDnYIkhT1cjM+bB6Vc5+ltg7YKBeAYuZZDaECSU4dIkHlO4xytIc5/z42SgPftoK+WwXxopXJNvbRSOVRdvO3HMMf+BG9eniSH5LlJkWnXRIyfyfANBiLCoUimDcg4Rc28yVI7Ek8ISeuhC92GYxX5UsU=
  file:
  - minified.js
  - script.js
  skip_cleanup: true
  on:
    repo: SimonLammer/anki-persistence
